:root {
   --main_font: 'Montserrat', sans-serif;
   --stylish_font: 'Oleo Script Swash Caps', sans-serif;

   /* Shades of black */
   --color_black: #000000;
   --color_black_charcoal: #36454f;
   --color_black_dark_green: #023020;
   --color_black_dark_purple: #301934;
   --color_black_jet_black: #343434;
   --color_black_licorice: #1b1212;
   --color_black_matte: #28282b;
   --color_black_midnight_blue: #191970;
   --color_black_onyx: #353935;

   /* Shades of white */
   --color_white: #ffffff;
   --color_white_alabaster: #edeade;
   --color_white_beige: #f5f5dc;
   --color_white_bone_white: #f9f6ee;
   --color_white_cornsilk: #fff8dc;
   --color_white_cream: #fffdd0;
   --color_white_eggshell: #f0ead6;
   --color_white_ivory: #fffff0;
   --color_white_linen: #e9dcc9;
   --color_white_navajo_white: #ffdead;
   --color_white_off_white: #faf9f6;
   --color_white_parchment: #fcf5e5;
   --color_white_peach: #ffe5b4;
   --color_white_pearl: #e2dfd2;
   --color_white_seashell: #fff5ee;
   --color_white_vanilla: #f3e5ab;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
   --text_color: var(--color_black);
   --background_color: var(--color_white_off_white);
   --navbar_wrapper_color: rgba(0, 0, 0, 0.2);
   --navbar_color: var(--color_white);
   --toc_border_color: var(--color_black_charcoal);
   --header_background_color: var(--color_white_off_white);

   background-color: var(--background_color);

   font-family: var(--main_font);
   color: var(--text_color);

   transition: background-color 0.5ms;
}

ul {
   list-style-type: none;
   padding: 0;
}

a:is(:link, :focus-within, :visited) {
   text-decoration: none;

   color: var(--text_color);

   cursor: pointer;
}

main {
   padding: 1.5rem 1rem;

   display: flex;
   flex-direction: column;
   row-gap: 1rem;
 }

 header {
   padding-bottom: .5rem;
   border-bottom: 2px solid var(--text_color);
   background-color: var(--header_background_color);

   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 0.5rem;
}

header .logo {
   display: flex;
   align-items: center;
   column-gap: 0.5rem;

   font-family: var(--stylish_font);
   font-size: 1.125rem;
   color: #f9ad5a;

   cursor: pointer;
}

header .logo img {
   width: 3rem;
   height: 3rem;
}

header .navbar-only-small-medium-screen .navbar-wrapper {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);

   position: fixed;
   top: 0;
   left: 0;

   visibility: hidden;
}

header .navbar-only-small-medium-screen .navbar-wrapper .navbar {
   width: 73%;
   height: 100%;
   padding: 1.5rem;
   background-color: var(--navbar_color);

   position: absolute;
   top: 0;
   left: 100%;

   display: flex;
   flex-direction: column;
   row-gap: 3.5rem;

   opacity: 0;
   transition: all 0.5s;
}

header .navbar-only-small-medium-screen .navbar-wrapper .navbar .buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .navbar-only-small-medium-screen .navbar-wrapper .navbar .buttons img {
   width: 24px;
   height: 24px;
}

input#themeSwitch {
   appearance: none;
   width: 32px;
   height: 32px;
   border-radius: 32px;

   position: relative;

   cursor: pointer;
   transition: all 0.3ms;
}

input#themeSwitch::after {
   content: url(./asset/images/icon-sun.svg);
   width: 24px;
   height: 24px;
   
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

header > div:last-child ul.tabs {
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
}

header > div:last-child ul.tabs > li > div:first-child {
   font-weight: 600;
   font-size: 1.125rem;
   
   position: relative;

   cursor: pointer;
}

header > div:last-child ul.tabs > li > div:first-child::after {
   content: url(./asset/images/icon-arrow.svg);
   filter: invert(1);

   position: absolute;
   right: 0;

   transition: transform 0.2s;
}

header > div:last-child ul.tabs > li > div:last-child {
   max-height: 0;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1rem;

   transition-property: margin-top, max-height;
   transition-duration: 0.2s;
   transition-timing-function: ease;
}

article.profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 2rem;
}

article.profile .avatar {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1rem;
}

article.profile .avatar img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
}

article.profile .avatar p {
   font-size: 1.5rem;
   font-weight: 600;
}

article.profile ul {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

article.profile ul li {
   width: fit-content;

   display: flex;
   align-items: center;
   column-gap: 1rem;

   font-size: 1.125rem;
   font-weight: 400;
}

article.profile ul li:last-child a {
   font-weight: 500;
   color: blue;
   text-decoration: underline;
   text-decoration-color: blue;
}

article[class*='week-'] {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

article[class*='week-'] a {
   font-weight: 400;
   color: blue;
   text-decoration: underline;
}

article[class*='week-'] h1 {
   font-size: 1.25rem;
}

article[class*='week-'] > p {
   font-size: 0.875rem;
}

article[class*='week-'] h2 {
   font-size: 1.125rem;
}

article[class*='week-'] > ul {
   list-style-type: square;
   padding-left: 1rem;

   display: flex;
   flex-direction: column;
   row-gap: 0.5rem;

   font-size: 1rem;
   line-height: 1.5rem;
}

article[class*='week-'] > ul li {
   text-align: justify;
}

article[class*='week-'] > section > ul {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;

   font-size: .9375rem;
   line-height: 1.5rem;
   text-align: justify;
}

article[class*='week-'] > section > ul li [class*='work-'] {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 1rem;

   cursor: pointer;
}

article[class*='week-'] > section > ul li .details ul {
   list-style-type: disc;
   padding-left: 1.5rem;

   display: flex;
   flex-direction: column;
   row-gap: .5rem;
}

article[class*='week-'] > section > ul li .small-medium-screen-only + .details {
   max-height: 0;
   overflow: hidden;

   transition: all 0.5s ease-out;
}

button#backward {
   width: 47%;

   font-family: inherit;
   font-size: inherit;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   row-gap: .5rem;
}

button#backward div {
   display: flex;
   align-items: center;
}

button#forward {
   width: 47%;

   font-family: inherit;
   font-size: inherit;

   display: flex;
   flex-direction: column;
   align-items: flex-end;
   row-gap: .5rem;
}

button#forward div {
   display: flex;
   align-items: center;
}

article.not-found {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}

aside.ToC.only-small-medium-screen,
article.not-found + aside.ToC {
   display: none;
}

footer {
   margin-top: 2rem;
   padding-bottom: 2rem;
   padding-top: 0.5rem;
   border-top: 2px solid var(--text_color);

   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1.25rem;
}

footer p {
   color: hsl(0, 0%, 59%);
   font-weight: 500;
}

footer nav {
   display: flex;
   justify-content: center;
   column-gap: 1rem;
}

footer nav div {
   width: 32px;
   height: 32px;
   border: 2px solid hsl(223, 100%, 88%);
   border-radius: 50%;

   position: relative;

   cursor: pointer;
   transition: 0.2s;
}

footer nav div i{
   font-size: 1rem;
   color: hsl(223, 87%, 63%);

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Events */
header.scrolled-up {
   border: none;

   position: sticky;
   top: 0;
}

header .navbar-only-small-medium-screen .navbar-wrapper.active {
   visibility: visible;
   z-index: 1;
}

header .navbar-only-small-medium-screen .navbar-wrapper.active .navbar {
   transform: translateX(-100%);
   opacity: 1;
}

input#themeSwitch:hover {
   background-color: white;
   box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.05),
               inset 0 2px 8px rgba(0, 0, 0, 0.05),
               inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

header > div:last-child ul.tabs > li.active > div:last-child a:hover {
   font-weight: 600;
}

header > div:last-child ul.tabs > li.active > div:first-child::after {
   transform: rotate(90deg);
}

header > div:last-child ul.tabs > li.active > div:last-child {
   max-height: 500px;
   margin-top: 1.125rem;
}

footer nav div:is(:hover, :focus) {
   background-color: hsl(223, 87%, 63%);
}

footer nav div:is(:hover, :focus) i{
   color: white;
}

article[class*='week-'] > section > ul li .small-medium-screen-only::after {
   content: url(./asset/images/icon-plus.svg);
}

article[class*='week-'] > section > ul li .small-medium-screen-only.active::after {
   content: url(./asset/images/icon-minus.svg);
}

article[class*='week-'] > section > ul li .small-medium-screen-only.active + .details {
   margin-top: 1.25rem;
   max-height: 500px;
}

body.dark-theme {
   --background_color: var(--color_black_licorice);
   --text_color: var(--color_white);
   --navbar_wrapper_color: rgba(0,0,0,0.5);
   --navbar_color: var(--color_black_matte);
   --toc_border_color: var(--color_white_ivory);
   --header_background_color: var(--color_black_licorice);

   background-color: var(--background_color);
}

body.dark-theme header > div:last-child ul.tabs li > div:first-child::after {
   filter: invert(0);
}

body.dark-theme main header .navbar-only-small-medium-screen > img#icon-menu {
   filter: invert(1);
}

body.dark-theme main header .navbar-only-small-medium-screen .navbar-wrapper .navbar .buttons img#icon-menu-close {
   filter: invert(1);
}

body.dark-theme input#themeSwitch {
   background-color: white;
}

body.dark-theme input#themeSwitch::after {
   content: url(./asset/images/icon-moon.svg);
}

body.dark-theme main article > section > ul > li > .small-medium-screen-only::after {
   filter: invert(1);
}

/* Media query */
@media screen and (min-width: 993px) {

   main {
      padding: 1.5rem 3rem;
      margin: 0 auto;

      flex-flow: row wrap;
      column-gap: 2rem;
   }

   header {
      width: 100%;
      height: fit-content;
      margin-bottom: 1.25rem;

      z-index: 10;
   }

   header > div:last-child {
      width: 50%;

      display: flex;
      justify-content: space-between;
   }

   header > div:last-child ul.tabs {
      width: 80%;

      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      column-gap: 1.5rem;
   }

   header > div:last-child ul.tabs > li {
      position: relative;
   }

   header > div:last-child ul.tabs > li > div:first-child::after {
      content: '';
   }

   header > div:last-child ul.tabs > li > div:last-child {
      width: 100%;
      background-color: var(--navbar_color);

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }

   header > div:last-child ul.tabs > li.active > div:last-child {
      padding-top: 1rem;
      padding-bottom: 1rem;
      z-index: 1;
   }

   article {
      text-align: justify;

      flex: 3;
   }

   article[class*='week-'] h1 {
      font-size: 2.25rem;
   }

   article[class*='week-'] h2 {
      font-size: 2rem;
   }

   article[class*='week-'] p {
      font-size: 1.125rem;
   }

   article[class*='week-'] > section > ul {
      font-size: 1.125rem;
   }

   article[class*='week-'] > section > ul > li .large-screen-only div {
      margin-bottom: 1.25rem;
      
      font-weight: 600;
      font-size: 1.5rem;
   }

   article.profile + aside.ToC.only-large-screen {
      display: none;
   }

   article[class*='week-'] + aside.ToC.only-large-screen {
      height: fit-content;
      padding-left: 1.5rem;
      border-left: 2px solid var(--toc_border_color);
      
      flex: 1;
   }

   aside.ToC.only-large-screen {
      display: block;

      position: sticky;
      top: 4rem;
   }

   aside.ToC.only-large-screen ul {
      text-align: justify;
      opacity: 0.5;

      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;

      cursor: pointer;
   }

   footer {
      width: 100%;
      order: 3;
   }

   aside.ToC-only-large-screen ul div:hover {
      font-weight: 500;
   }
}

@media screen and (min-width: 1201px) {

   main {
      width: 1200px;
   }
}